@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #876445;
  --color-secondary: #ffffff;
  --color-gray: #444036;
  --color-black: #202020;
  --background-primary: #F3F4F6;
  --background-button: #6d795c;
  --background-button-hover: #6d795ce7;
}

body {
  color: var(--color-primary);
  background-color: var(--background-primary);
}

button,
.form-submit--button {
  background-color: #789395;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 0.5rem 2rem;
  /* border-radius: 0.25rem; */
}

button:hover,
.form-submit--button:hover {
  background-color: #789395e1;
}

.product-list {
  display: flex;
}

.product--card,
.home--card {
  /* border: 1px solid #ccc; */
  transition: transform;
  /* box-shadow: -15px 32px 75px -33px rgb(202, 202, 202); */
}

.product--card:hover,
.home--card:hover {
  transform: scale(1.007);
  transition: all 0.5s ease;
  /* box-shadow: -25px 32px 75px -33px rgb(138, 138, 138); */
}

.product--card-img {
  transition: all 0.5s ease;
}

.product--card-img:hover {
  box-shadow: -25px 32px 75px -33px rgb(138, 138, 138);
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #876445;
}

/* LOADER BUTTON */
.loader-button {
  width: 24px;
  height: 24px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-mini {
  width: 24px;
  height: 24px;
  border: 1px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-mini::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  border-bottom-color: #c2b4a8;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.textBrown {
  color: #876445;
}

.bgBrown {
  background-color: #876445;
}

.bgWhite {
  background-color: #EAEAEA;
}

.bgDark {
  background-color: #202020;
}

.success-alert {
  background-color: #876445;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  /* margin: 1rem; */
}

.success-alert-products {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  margin-bottom: 0.5rem;
}

.alert-products {
  background-color: #fc4242;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  margin-bottom: 0.5rem;
}

.error-icon {
  background-image: url('./covers/icons/error.png');
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  padding: 4px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.nav-principal__item {
  background-color: #EAEAEA;
  padding: 5px 15px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #876445;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-principal__item a {
  font-weight: 600;
}

.nav-principal__item:hover {
  color: #876445dc;
  transform: translateY(-2px)
}

.logo-desktop {
  display: none;
}

.linkFooter {
  list-style: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.linkFooter:hover {
  color: #91745c;
}

.icon-twitter {
  background-image: url('./covers/icons/twitter.png');
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  padding: 4px;
}

.icon-twitter:hover {
  background-image: url('./covers/icons/twitter-brown.png');
  cursor: pointer;
}

.icon-instagram {
  background-image: url('./covers/icons/instagram.png');
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  padding: 4px;
}

.icon-instagram:hover {
  background-image: url('./covers/icons/instagram-brown.png');
  cursor: pointer;
}

.icon-facebook {
  background-image: url('./covers/icons/facebook.png');
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  padding: 4px;
}

.icon-facebook:hover {
  background-image: url('./covers/icons/facebook-brown.png');
  cursor: pointer;
}

.section-home--title {
  color: var(--color-gray);
}

.section-home--cover {
  background-image: url("./covers/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-home--buttons button {
  background-color: var(--background-button);
  color: var(--color-secondary);
  font-weight: 600;
}

.section-home--buttons button:hover {
  background-color: var(--background-button-hover);
  color: var(--color-secondary);
}

.section-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.section-about--title {
  color: var(--color-gray);
  font-weight: 700;
}

/* .section-about--subtitle {
  color: var(--color-gray);
} */

.section-about--images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 0 auto;
  transition: all 1s ease;
  width: 70%;
  margin-bottom: 1rem;
}

.images-container img {
  position: relative;
  border: 2px solid rgba(128, 128, 128, 0.322);
  box-shadow: -25px 32px 75px -33px rgb(202, 202, 202);
  transition: 1s;
  border-radius: 1rem;
}

.images-container .image-3 {
  width: 25vw;
  top: 20px;
  transform: rotate(-8deg);
}

.images-container .image-2 {
  width: 25vw;
  top: 10px;
  transform: rotate(-1deg);
}

.images-container .image-1 {
  width: 25vw;
  top: 20px;
  transform: rotate(8deg);
}

.images-container .image-3:hover {
  animation: cards 1s forwards;
  z-index: 1;
  transform: rotate(-8deg);
}

.images-container .image-2:hover {
  animation: cards 1s forwards;
  z-index: 1;
  transform: rotate(0deg);
}

.images-container .image-1:hover {
  animation: cards 1s forwards;
  z-index: 1;
  transform: rotate(9deg);
}

@keyframes cards {
  to {
    z-index: 2s ease-in-out;
  }
}

.recipes-books--title,
.recipes-books--detail {
  color: var(--color-gray);
  font-weight: 700;
  text-align: center;
}

.recipes-books--detail {
  transition: all 0.5s ease;
  color: var(--color-primary);
}

.recipes-books--detail:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 0 0.5rem;
  opacity: 90%;
  box-shadow: -25px 32px 75px -33px rgb(138, 138, 138);
}

.section-product--cover {
  background-image: url("./covers/cover-bookrecipes2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-product-detail--comment,
.section-product-detail--price,
.section-product-detail--title {
  font-weight: 700;
}

.section-product-detail--comment {
  color: var(--color-gray);
}

.section-product-detail--title {
  border-bottom: 1.5px var(--color-primary) solid;
  padding-bottom: 15px;
}

.section-product-detail--price {
  font-size: 1.3rem;
}

.section-product-detail--button {
  background-color: var(--background-button);
}

.section-product-detail--button:hover {
  background-color: var(--background-button-hover);
}

.logout--section,
.admin--section {
  display: flex;
  gap: 5px;
  align-items: center;
}

.logout--icon {
  width: 25px;
}

.admin--icon {
  width: 30px;
}

.newsletter--section {
  background-color: #808d6c;
}

.newsletter--title {
  color: #F3F4F6;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}

.newsletter--description {
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.newsletter--form {
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  border-radius: 1rem;
}

.newsletter--input,
.newsletter--submit {
  padding: 0.5rem;
}

.newsletter--submit {
  color: #F3F4F6;
  background-color: #202020;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.newsletter--submit:hover {
  background-color: #202020e0;
}

.animated-image {
  animation: roundAnimation 5s forwards;
}

@keyframes roundAnimation {
  0% {
    border-radius: 0%;
  }

  50% {
    border-radius: 50%;
  }

}

.section-contact--button {
  background-color: var(--background-button);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.section-contact--button:hover {
  background-color: var(--background-button-hover);
}

@media(min-width: 768px) {

  .nav-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #EAEAEA;
    color: #876445;
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
  }

  .nav-principal li {
    list-style: none;
  }

  .logo-desktop {
    display: block;
  }

  .logo-mobile {
    display: none;
  }

  .section-about {
    flex-direction: row;
  }

  .section-about--text {
    padding: 1rem;
    padding-bottom: 0;
  }

  .section-about--button {
    background-color: var(--background-button);
    color: var(--color-secondary);
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: 500;
    padding: 0.8rem;
    border-radius: 0;
  }

  .section-about--button:hover {
    background-color: var(--background-button-hover);
  }

  .section-about--images {
    display: block;
    width: 100%;
  }

  .images-container {
    position: relative;
  }

  .images-container img {
    position: absolute;
  }

  .images-container .image-3 {
    width: 25vw;
    top: -80px;
    transform: rotate(-8deg);
  }

  .images-container .image-2 {
    width: 25vw;
    top: -75px;
    transform: rotate(-1deg);
  }

  .images-container .image-1 {
    width: 25vw;
    top: -80px;
    transform: rotate(8deg);
  }

  .images-container:nth-child(1) img {
    left: 28px;
  }

  .images-container:nth-child(2) img {
    left: 70px;
  }

  .images-container:nth-child(3) img {
    left: 95px;
  }

  .newsletter--icon-skillet {
    background-image: url("./covers/icons/skillet.png");
    display: inline-block;
    width: 110px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 45px;
    opacity: 70%;
  }

  .newsletter--icon-whisk {
    background-image: url("./covers/icons/whisk.png");
    display: inline-block;
    width: 60px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 85px;
    right: 85px;
    margin-bottom: 2rem;
    opacity: 70%;
  }
}