@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #876445;
}

button {
  background-color: #789395;
}

.nav-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-principal--dark {
  background-color: #876445;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
}

.nav-principal li {
  list-style: none;
}

.product-list {
  display: flex;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #876445;
}

.textBrown {
  color: #876445;
}

.success-alert {
  background-color: #876445;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  margin: 1rem;
}

.success-alert-products {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  margin-bottom: 0.5rem;
}

.alert-products {
  background-color: #fc4242;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  margin-bottom: 0.5rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}